.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
table{
  border : 1px solid black;
}
tr{
  cursor: pointer;
}
.search-container{
  margin: 20px auto;
  width: 300px;
}
.search-container input{
  width : 100%;
  padding: 5px;
  border-radius: 10px;
}
.sort-option-parent{
  margin: auto;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.sort-option-parent div select{
  padding : 5px;
  border-radius: 5px;
}
.crypto-img{
  width : 50px;
}
.crypto-img img{
  width : 100%;
}
.first-td{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: none;
}
.img-wrapper{
  width: 100px;
}
.img-wrapper img{
  width: 100%;
}
.cont{
  width : 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container.active{
  display : block
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
